.background-image {
    background-image: url("../../assets/homeAssets/porschewidedarker.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 90vh;
    text-align:center;
    margin: auto;
    padding: 0;
    /*filter: brightness(100%);*/
}

.mainparagraph{
    font-size: 10px;
}